<body>
        <%if(locals.user){%>
            <div>
                <form action="/teacher/courseCreate" method="POST">
                    <input type="text" name="name" id="" placeholder="Add courses">
                    <input type="submit" value="Add course">
                </form>
            </div>
        <%}%>
        <ul>
        <%for(course of course){%>
            <%console.log(course._id)%>
            <li>
               <%if((locals.user) && (locals.user.id == course.teacher._id)){%>
                <a href="/course/delete/<%=course.id%>"><small>x</small>
                    <%}%>
            </a> <a href="course/<%=course._id%>"><%=course.name%></a>
            </li>
        <%}%>
    </ul>
</body>