<body>
    <a href="/teacher/signup">sign up as teacher</a>
    <a href="/teacher/login"> login as a teacher</a>
    <br>
    <a href="/student/signup">sign up as student</a>
    <a href="/student/login">log in a student</a>
    <br>
</body>