<body>

    <h1>
        Teacher signup
    </h1>
    <form action="/teacher/create" method="POST">
        <input type="email" name="email" placeholder="Enter your Email">
        <input type="text" name="name" placeholder="Enter your Name">
        <input type="tel" name = "phone" placeholder="Enter your Phone">
        <input type="password" name="password" placeholder="Enter password">
        <input type="password" name="confirm_password" placeholder="Enter password">
        <input type="submit" value="sign up">
    </form>
</body>